* {
  all: unset;
  font-family: Liberation Sans;
  font-size: 14px;
}

.notification {
  border-radius: 0px; /* Square corners */
  padding: 14px;
  color: #cdd6f4;
  background-color: #1a1b26;
  border: 2px solid #313244;
  margin: 10px;
}

.title {
  font-weight: bold;
}

.body {
  font-size: 10px;
  color: #a6adc8;
}
