* {
  all: unset;
  font-family: Liberation Sans;
  font-size: 14px;
}

.notification {
  border-radius: 0px;
  padding: 14px;
  color: #cdd6f4;
  background-color: rgba(26, 27, 38, 0.95);
  border: 2px solid #313244;
  margin: 20px;
}

.icon,
.app-icon,
.image {
  margin-right: 8px;
}

.title {
  font-weight: bold;
}

.body {
  color: #a6adc8;
}

@import "../omarchy/current/theme/swaync.css";
